{% extends 'base.html' %}
{% load static %}
{% block title %}
    Питання {{ number_quest }} із 18
{% endblock %}
{% block text %}
    <form method="post">
        {% csrf_token %}
        {{ quest.text }}
        <hr>
        <br>
        {% if quest.type_quest == 'OneChoise' %}
            {% for answer in quest.answers.all %}
                <label for="answer">{{ answer.answer }}</label>
                <input type="radio" id="answer" name="answer" value="{{ answer.answer }}" required>
                <br>
            {% endfor %}
        {% elif quest.type_quest == 'ManyChoise' %}
            {% for answer, num in zlist %}
                <label for="answer">{{ answer.answer }}</label>
                <input type="checkbox" id="answer" name="answer{{ num }}" value="{{ answer.answer }}">
                <br>
            {% endfor %}
        {% elif quest.type_quest == 'TextFild' %}
            <input type="number" name="answer" required>
            <br>
        {% endif %}
        <input type="hidden" name="quest" value="{{ number_quest }}">
        <input type="submit">
    </form>
{% endblock %}
{% block image %}
    <img src="" alt="" id="testimg">
    {% if quest.get_image %}
        <div id="timer"></div>
        <div id="example" style=" display: none; ">
        </div>
    {% endif %}
{% endblock %}